@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

@font-face {
	font-family: battlestar;
	src: url('../other/nasa.ttf') format('truetype');
}


html, body {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	color: #FFF;
	font-size: 50px;
	min-width: 1000px;
]   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;     
}

body {
	background: #000;
}

h1 {
	color: #FFF;
	text-align: center;
	font-size: 200%;
	font-family: battlestar;
	margin: 0;
}

p {
	font-size: 50%;
}

#filler {
	top: 50%;
	position: absolute;
}

#layer0 {
	background-color: rgba(0, 0, 0, .7);
	z-index: 5;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	border-radius: 30px;
}

.init-input {
	width: 50%;
	margin: 0 auto;
}

#layer1, #layer2, #gameboard{
	position: absolute;
	left: 0px;
	top:; 0px;
}

#layer1 {
	z-index: 1;
	left: 0px;
	top: 0px;
	display: none;
}

#layer2 {
	z-index: -12;
	left: 0px;
	top: 0px;
	min-height: 100%;
	min-width: 100%
}

#gameboard {
	z-index: 0;
	min-height: 100%;
	min-width: 100%;
	display: none;
}

#star {
}

#scene {
	min-height: 100%;
}

.layer {
	min-height: 100%;
	min-width: 100%;
}

li img {
	min-height: 100%;
	min-width: 100%;
}

.point {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
}
.projectile {
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 10px;
	opacity: 0.6;
}
/*
.ship {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	border-radius: 100px;
	opacity: 0.6;
}
*/
.ship {
	width: 0px;
	height: 0px;
	position: absolute;
	top: -12.5px;
	right: -17.5px;
	border-style: solid;
	border-width: 12.5px 0 12.5px 35px;
	border-color: transparent transparent transparent #007bff;
}

.label {
	width: auto;
	height: 15px;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -40px;
	right: -40px;
}

/*#follower {
	z-index: 0;
	position: absolute;
}*/

